.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/@types/**
!node_modules/typescript/**
openspec/**
docs/**
CLAUDE.md
.claude/**
restful-tool/**